@import url(https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,700);

body {
    padding-bottom: 70px;
    margin: 0;
    font-family: "Raleway", sans-serif;
    line-height: 40px;
    background-color: #efefef;
}

.header {
    padding: 180px 0 50px;
    background:  linear-gradient(170deg, rgba(154, 219, 239, 0), rgba(243, 243, 243, 0.7) 51%, rgba(239, 239, 239, 0)), url("https://cdn.wallpapersafari.com/91/51/wSZhTO.jpg");
    background-position: center;
}

.content {
    padding: 50px 0 30px;
}

.header h1, .header p, .content, .footer {
    width: 100%;
    margin: auto;
    max-width: 900px;
}

.content p {
    text-align: justify;
    font-weight: 400;
    font-size: 18px;
}

.header a:link {
    color: #000;
    font-weight: 500;
}

a:link {
    color: #ff0000;
    font-weight: 300;
    text-decoration: none;
}

a:visited {
    color: #ff0000;
}

h2 {
    text-align: left !important;
}
